.wp-template-narrow {
  > * {
    max-width: 48.125rem;
    margin-right: auto;
    margin-left: auto;
  }

  :nth-child(1 of .wp-block-image) {
    max-width: 73.125rem;
  }


  &.wp-block-post-content {
    > * {
      margin-bottom: 4rem;
    }

    > ol, > p, > ul {
      margin-bottom: revert;
    }
  }
}

.wp-template-narrow-header {
  margin: 4rem 0;

  h1 {
    @include display-reg-xl;
    margin: 4rem auto 1rem;

    @media(max-width: 47.9375rem) {
      margin: 2.5rem auto 1rem;
    }
  }
}
