.wp-template-narrow {
    $width: 48rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3.5rem;
        max-width: $width;
        margin: 7rem auto 4rem;
        @media(max-width: 47.9375rem) {
            margin: 4rem auto 2.5rem;
        }
    }

    &.wp-block-post-content {
        > *:not(.alignwide):not(.alignfull) {
            max-width: $width !important;

            &:last-of-type {
                margin-bottom: 6rem;
            }
        }

        > ol, > p, > ul {
            margin-bottom: revert;
        }

        img {
            max-width: 100%;
            border-radius: 0.25rem;
            @media (max-width: 76.875rem) {
                border-radius: 0;
            }
        }
    }
}
