.wp-template-single {
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3.5rem;
        max-width: 48rem;
        margin: 7rem auto 4rem;
        @media(max-width: 47.9375rem) {
            margin: 4rem auto 2.5rem;
        }
    }

    &.wp-block-post-content {
        img {
            max-width: 100%;
        }

        > p, > ul, > ol, > .wp-block-freeform, > .wp-block-group {
            max-width: 48rem !important;
            margin-bottom: revert;

            &:last-of-type {
                margin-bottom: 6rem;
            }
        }

        .wp-block-image {
            img {
                border-radius: 0.25rem;
                @media (max-width: 76.875rem) {
                    border-radius: 0;
                }
            }
        }
    }
}
