.wp-template-single {
  h1 {
    @include display-reg-xl;
    margin-bottom: 1rem;
  }

  .article-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;

    .wp-block-post-terms {
      display: flex;
      align-items: center;
      flex-direction: row;

      a {
        @include body-m;
        font-weight: 500;
        text-decoration: none;
        color: $dark;
      }

      .wp-block-post-terms__separator {
        @include dark-dot;
      }

      &:not(:empty):after {
        @include dark-dot;
        content: '';
      }
    }

    .wp-block-post-date {
      > {
        @include body-m;
        text-decoration: none;
        color: $dark;
      }
    }
  }
}
