@mixin heading($size, $weight) {
  color: #cf3942;
  font-family: Merriweather, sans-serif;
  font-size: $size + rem;
  font-weight: $weight;
  margin: 0 0 1rem 0;
}

h2.wp-block-heading {
  @include heading(2.5, 400);
}

h1.wp-block-heading,
.wp-block-post-title {
  @include heading(4, 900);
}

.wp-block-post-title {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}