.wp-block-image {
    &.alignwide {
        @media (max-width: 1624px) {
            margin-left: -0.75rem !important;
            margin-right: -0.75rem !important;
            max-width: unset;
        }
    }
}
