@import '../mixin';

.wp-block-saleziani-latest-default-category-posts {
    .box {
        border-left: 0.125rem solid rgba(39, 39, 39, 0.06);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 1.5rem;

        .image {
            border-radius: 0.25rem;
            margin-bottom: 2rem;

            .wp-post-image {
                border-radius: 0.25rem;
                height: auto;
                width: 100%;
            }
        }

        .category {
            color: #cf3942;
            display: block;
            font-size: 0.9375rem;
            font-weight: 500;
            line-height: 1.125rem;
            margin-bottom: 1rem;
            text-decoration: none;
        }

        .title {
            display: block;
            margin-bottom: 1rem;
            text-decoration: none;

            h3 {
                color: #272727;
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 1.5625rem;
                margin: 0;
            }
        }

        .description {
            color: rgba(39, 39, 39, 0.80);
            font-size: 0.9375rem;
            line-height: 1.3125rem;
            margin-bottom: 1.61rem;
        }

        .link {
            @include link-with-icon;
            width: fit-content;
        }
    }
}
