.wp-block-saleziani-newsletter-form {
    min-height: 13.5rem;

    .ec-v-form-holder {
        width: unset !important;
        max-width: 37.5rem;
        background-color: transparent !important;

        form {
            min-height: unset !important;

            .ec-v-form-step {
                height: auto !important;

                .ec-v-form-column {
                    padding: 0 0.9375rem;

                    > div {
                        padding: 0 !important;
                    }

                    .ec-v-form-text {
                        padding-bottom: 1rem !important;

                        p {
                            font-family: Merriweather, serif;
                            font-size: 18px !important;
                            font-weight: 700;
                            line-height: 25px;
                            margin: 0 !important;
                            color: #272727 !important;
                        }
                    }

                    .ec-v-form-input {
                        padding-bottom: 1rem !important;

                        .ec-v-forms-label {
                            display: none;
                        }

                        input {
                            font-size: 1rem;
                            font-weight: 400;
                            font-style: normal;
                            line-height: 1.1875rem;
                            padding: 0.875rem 1.5rem 0.9375rem 1.5rem;
                            color: rgba(39, 39, 39, 0.60);
                            border: 1px solid rgba(39, 39, 39, 0.12);
                            border-radius: 0.25rem;
                            background: #ffffff;
                        }

                        input[type=checkbox] {
                            + label {
                                top: .25rem;
                                height: 1.125rem;
                                margin-bottom: 0;

                                &:before {
                                    width: 1.125rem;
                                    height: 1.125rem;
                                    border: 0.125rem solid #7b7a79;
                                    border-radius: 0.125rem;
                                    background-color: transparent;
                                }

                                &:after {
                                    top: .1875rem;
                                    left: .375rem;
                                    width: .375rem;
                                    height: .625rem;
                                    border-color: #7b7a79;
                                }
                            }
                        }

                        .ec-forms-chck-lbl-text {
                            p {
                                margin-left: 0;

                                span,
                                a {
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.1875rem;
                                    color: rgba(39, 39, 39, 0.80);
                                }

                                a {
                                    color: #5795d6 !important;
                                }
                            }
                        }

                        .ec-v-form-error {
                            margin-top: 0.3125rem;
                        }
                    }

                    .ec-v-form-submit {
                        button {
                            font-size: 1.0625rem;
                            font-weight: 500;
                            line-height: 1.5rem;
                            margin: 0;
                            padding: 0.5rem 1.5rem;
                            color: #ffffff !important;
                            border-radius: 0.25rem;
                            background-color: #5795d6 !important;
                        }
                    }
                }
            }
        }
    }
}
