.wp-block-pullquote {
    blockquote {
        border-left: 0.125rem solid rgba(39, 39, 39, 0.06);
        margin: 0;
        padding: 1.5rem;
        text-align: left;

        p {
            color: #cf3942;
            font-family: Merriweather, sans-serif;
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 700;
            line-height: 2.375rem;
            margin-bottom: 1rem;
        }

        cite {
            color: #272727;
            font-family: Merriweather, sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.375rem;
        }
    }
}
