@import '../../public/scss/colors';
@import '../../public/scss/bootstrap-override';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/accordion';

@import '../../public/scss/fonts/all';
@import '../../public/scss/mixin';

.editor-styles-wrapper {
    @include layout;
    @import '../../public/scss/blocks/all';
    @import '../../public/scss/elements/all';
    @import '../../public/scss/parts/all';
    @import '../../public/scss/patterns/all';
    @import '../../public/scss/templates/all';
    @import 'bootstrap-columns';

    .wp-block {
        * {
            // Override inline style white-space: pre-wrap from @wordpress/rich-text.
            white-space: normal !important;
        }

        a {
            pointer-events: none;
        }
    }
}

.post-type-post .block-editor-block-alignment-control__menu-group button:first-of-type .components-menu-item__info {
    overflow: hidden;
    height: 0.8125rem;

    &:before {
        display: inline-block;
        content: 'Maximálna šírka 45rem';
    }
}

.rich-text:focus *[data-rich-text-format-boundary] {
    background-color: transparent !important;
}

.editor-styles-wrapper .wp-pattern-saleziani-accordion .accordion-item .accordion-collapse.hide {
    max-height: unset !important;
}

.editor-styles-wrapper .wp-pattern-saleziani-accordion .accordion-item .accordion-header .accordion-button h3 {
    cursor: unset;
}

.editor-styles-wrapper .wp-pattern-saleziani-accordion .accordion-item .accordion-header .accordion-button {
    cursor: unset;
    pointer-events: none;
}
