@mixin link_with_arrow(){
    color: #EE8D0F;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0.25rem;
    position: relative;

    &:after {
      background-image: url('../../images/arrow-right-orange.svg');
      content: '';
      display: inline-block;
      height: 1.25rem;
      left: 0.25rem;
      position: relative;
      width: 1.25rem;
    }

    &:before {
      content: '';
      left: 0;
      right: 0;
      height: 0.125rem;
      background-color: #EE8D0F;
      position: absolute;
      bottom: 0;
    }

}