/.env.local
/.idea
/node_modules
/vendor
/web/app/advanced-cache.php
/web/app/cache
/web/app/db.php
/web/app/languages
/web/app/mu-plugins
/web/app/object-cache.php
/web/app/plugins
/web/app/themes/saleziani/assets
/web/app/upgrade
/web/app/uploads
/web/app/w3tc-config
/web/wp
/web/.htaccess
/web/app/debug.log
/src/app/var
