@import '../mixin';

.wp-template-category {
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3.5rem;
        margin: 7rem 0 2rem;
    }

    .wp-block-categories-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        padding-left: 0;

        .cat-item {
            display: flex;
            a {
                border: 1px solid rgba(39, 39, 39, 0.20);
                border-radius: 0.9375rem;
                color: #272727;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1rem;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
                padding: 0.38rem 0.75rem;
                text-decoration: none;
                &:hover{
                    background-color: #cf3942;
                    border-color: #cf3942;
                    color: #ffffff;
                }
            }

            &.current-cat {
                a {
                    background-color: #cf3942;
                    border-color: #cf3942;
                    color: #ffffff;
                }
            }
        }
    }
}
