.wp-template-error-404 {
    padding: 0 0 10rem 0;

    > div {
        margin-bottom: 6rem;

        .wp-block-heading {
            font-size: 10rem;
            font-weight: 700;
            line-height: 12rem;
            margin-bottom: 6rem;
        }

        p {
            color: rgba(39, 39, 39, 0.80);
            font-size: 1.3125rem;
            line-height: 1.8125rem;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            a {
                @include link-with-icon;
            }
        }
    }
}
