@import '../../public/scss/bootstrap-override';

@import 'bootstrap/scss/bootstrap-grid';

@import '../../public/scss/fonts/all';
@import '../../public/scss/mixin';

.editor-styles-wrapper {
    @include layout;
    @import '../../public/scss/blocks/all';
    @import '../../public/scss/elements/all';
    @import '../../public/scss/parts/all';
    @import '../../public/scss/patterns/all';
    @import '../../public/scss/templates/all';

    .wp-block {
        * {
            // Override inline style white-space: pre-wrap from @wordpress/rich-text.
            white-space: normal !important;
        }

        a {
            pointer-events: none;
        }
    }

    .wp-block-saleziani-newsletter-form {
        max-width: 37.5rem;
        margin: 0 auto;
        padding: 6rem 0;
        text-align: center;
        color: #272727;
        background-color: #e5e5e5;
    }
}
