@import 'bootstrap/scss/bootstrap-grid';
@import 'fonts/all';

.editor-styles-wrapper {

    font-family: 'Fira Sans', sans-serif;

    *, :after, :before {
        box-sizing: border-box;
    }

    .wp-block-post-title {
        margin-bottom: 1rem;
    }

    .wp-pattern-saleziani-description-link{
        margin-bottom: 3rem;
    }

    [data-type='wp-bootstrap-blocks/column'] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .wp-block a {
        pointer-events: none;
    }

    .wp-block-image{
        margin-bottom: 4rem;
    }

    .wp-pattern-saleziani-three-links-to-pages {
        .wp-block-wp-bootstrap-blocks-column {
            height: 100%;

            .block-editor-inner-blocks {
                height: 100%;

                .block-editor-block-list__layout {
                    height: 100%;

                    .block-editor-block-list__block {
                        height: 100%;

                        .block-editor-block-list__block {
                            height: 100%;

                            div {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    @import 'blocks/all';
    @import 'elements/all';
    @import 'parts/all';
    @import 'patterns/all';
}
