@import "bootstrap-override";
@import 'bootstrap/scss/bootstrap-grid';
@import 'fonts/all';
@import 'mixin';
.editor-styles-wrapper {
    @include layout;
    @import 'blocks/all';
    @import 'elements/all';
    @import 'parts/all';
    @import 'patterns/all';
    @import 'templates/all';
    // Set height of Bootstrap column children. Used in three-link-to-page pattern.
    [class*='col-'] {
        > div {
            height: 100%;

            > div {
                height: 100%;

                > div {
                    height: 100%;
                }
            }
        }
    }

    .wp-block {
        * {
            // Override inline style white-space: pre-wrap from @wordpress/rich-text.
            white-space: normal !important;
        }

        a {
            pointer-events: none;
        }
    }
}
