@import 'bootstrap/scss/bootstrap-grid';
@import 'fonts/all';

.editor-styles-wrapper {
    @import 'blocks/all';
    @import 'elements/all';
    @import 'parts/all';
    @import 'patterns/all';
    font-family: 'Fira Sans', sans-serif;

    *, :after, :before {
        box-sizing: border-box;
    }

    .wp-block-post-title {
        margin-bottom: 1rem;
    }

    [data-type='wp-bootstrap-blocks/column'] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .wp-block a {
        pointer-events: none;
    }
}
