header {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: $grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;

  .wp-block-navigation__responsive-container.is-menu-open.has-modal-open {
    padding: 1rem;

    .wp-block-navigation__responsive-container-content {
      padding-top: 0;

      .wp-block-navigation__container {
        width: 100%;

        .wp-block-navigation-item {
          width: 100%;
          margin: 0;

          .wp-block-site-logo {
            margin-bottom: 1rem;
          }

          .wp-block-navigation-item__content {
            width: 100%;
            text-align: center;

            .wp-block-navigation-item__label {
              font-size: 1.4rem;
              line-height: 2.4rem;
              text-align: center;
            }
          }

          &.btn-support {
            position: unset;
            right: unset;
            margin-top: 2rem;
            padding: 0.5rem;
            color: #ffffff !important;
            border-radius: 0.25rem;
            background-color: #CF3942 !important;
          }
        }
      }
    }
  }

  nav {
    padding: 0.75rem 0;
  }

  .wp-block-navigation {
    padding-left: 0;

    .wp-block-navigation-item {
      margin: 0 1rem;

      &:first-child {
        margin: 0;
      }

      &.btn-support {
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 1.375rem;
        position: absolute;
        right: 0;
        margin: 0;
        padding: 0.19rem 1rem;
        color: #ffffff;
        border-radius: 0.25rem;
        background-color: #CF3942;
      }

      &:last-child {
        margin: 0 0 0 1rem;
      }
    }

    .wp-block-navigation-item__content {
      text-decoration: unset;

      .wp-block-navigation-item__label {
        font-size: 1rem;
        line-height: 1.125rem;
      }
    }
  }
}

@media (min-width: 37.5rem) {
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none;
  }
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex;
  }
}

@media (min-width: 50rem) {
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    position: relative;
    z-index: auto;
    display: block;
    width: 100%;
    background-color: inherit;
  }
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none;
  }
}
