footer {
  background-color: #F9F6F4;
  padding-top: 3rem;

  .wp-bootstrap-blocks-row {
    margin: 0 auto;
    max-width: var(--wp--style--global--content-size);
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    color: #272727CC;

    a {
      text-decoration: unset;
      color: #272727CC;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.125rem;
      display: inline-block;
      margin-top: 0.28rem;
      margin-bottom: 0.28rem;

      strong {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.25rem;
        margin-bottom: 0.3125rem;
        display: inline-block;
      }

      + a {
        margin-left: 1rem;
      }
    }

    strong {
      a {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.25rem;
        margin-bottom: 0.75rem;
        display: inline-block;
      }

    }

  }
}