footer {
    &:not(:empty) {
        padding-top: 4rem;
        background-color: #f9f6f4;
    }

    .wp-block-separator {
        margin: 0.75rem 0;
        border-width: 0.0625rem 0 0 0;
        border-color: rgba(39, 39, 39, 0.12);
    }

    .row {
        max-width: var(--wp--style--global--content-size);
        margin: 0 auto;
    }

    p {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.125rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #272727cc;

        a {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.125rem;
            display: inline-block;
            margin-top: 0.28rem;
            margin-bottom: 0.28rem;
            text-decoration: unset;
            color: #272727cc;

            strong {
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.25rem;
                display: inline-block;
                margin-bottom: 0.3125rem;
            }

            + a {
                margin-left: 1rem;
            }
        }

        strong {
            a {
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.25rem;
                display: inline-block;
                margin-bottom: 0.75rem;
            }
        }
    }
}
