header {
    @media(max-width: 37.4375rem) {
        .wp-block-navigation__responsive-container {
            .wp-block-navigation__responsive-container-content {
                padding-top: 0;

                .wp-block-navigation__container {
                    width: 100%;

                    .wp-block-navigation-item {
                        width: 100%;
                        margin: 0;

                        .wp-block-site-logo {
                            margin-bottom: 1rem;
                        }

                        .wp-block-navigation-item__content {
                            text-align: center;
                            width: 100%;

                            .wp-block-navigation-item__label {
                                font-size: 1.5rem;
                                line-height: 1.875rem;
                                text-align: center;
                            }
                        }

                        &.btn-support {
                            position: unset;
                            margin-top: 2rem;
                            background-color: #5795d6 !important;
                            right: unset;
                            border-radius: 0.5rem;
                            padding: 0.5rem;
                        }
                    }
                }

            }
        }
    }
}
