<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:template-part {"slug":"stripe"} /-->
<!-- wp:group {"className":"container-fluid","tagName":"main"} -->
<main class="container-fluid wp-block-group">
    <!-- wp:template-part {"slug":"content-header"} /-->
    <!-- wp:post-content {"className":"wp-template-page"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"call-to-action", "className":"template-part-call-to-action"} /-->
<!-- wp:template-part {"slug":"newsletter", "className":"footer-newsletter"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- wp:pattern {"slug":"saleziani/copyright"} /-->
