main {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: #CF3942;
    margin-bottom: 16px;
    margin-top: 0;
  }

  h1 {
    font-size: 64px;
    line-height: 78px;
    font-weight: 900;
  }
  h2{
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
  }

  p {
    color: #272727CC;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 16px;

    &.has-large-font-size {
      font-size: 21px !important;
      line-height: 29px;
    }

    &.has-medium-font-size {
      font-size: 17px !important;
      line-height: 24px;
    }

    &.has-small-font-size {
      font-size: 15px !important;
      line-height: 21px;
    }
  }

  a {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    color: #EE8D0F;
    margin-right: 8px;
  }
}