main {
  p {
    margin: 0 0 1rem 0;
    color: rgba(39, 39, 39, 0.80);

    a {
      color: #EE8D0F;
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      padding-bottom: 0.25rem;
      position: relative;

      img {
        margin-left: 0.5rem;
      }

      &:after {
        content: '';
        left: 0;
        right: 0;
        height: 0.125rem;
        background-color: #EE8D0F;
        position: absolute;
        bottom: 0;
      }
    }
  }
}