<!-- wp:template-part {"slug":"header","theme":"saleziani","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"container-fluid wp-template-error-404"} -->
<main class="wp-block-group container-fluid wp-template-error-404">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">404</h1>
        <!-- /wp:heading -->
        <!-- wp:group {"className":"wp-pattern-saleziani-description-link"} -->
        <div class="wp-block-group wp-pattern-saleziani-description-link">
            <!-- wp:group {"className":"row"} -->
            <div class="wp-block-group row">
                <!-- wp:group {"className":"col-12 col-md-8"} -->
                <div class="wp-block-group col-12 col-md-8">
                    <!-- wp:paragraph -->
                    <p>Táto cesta nikam nevedie.</p>
                    <!-- /wp:paragraph -->
                    <!-- wp:paragraph -->
                    <p>
                        <a href="/">Naspäť k saleziánom</a>
                    </p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:pattern {"slug":"saleziani/call-to-action"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"saleziani","tagName":"footer"} /-->
