<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"className":"container-fluid wp-template-category","layout":{"type":"constrained"},"tagName":"main"} -->
<main class="container-fluid wp-block-group wp-template-category">
    <!-- wp:query-title {"showPrefix":false,"type":"archive"} /-->
    <!-- wp:core/categories {"showPostCounts":false,"displayAsDropdown":false,"showHierarchy":false} /-->
    <!-- wp:query {"query":{"inherit":true}} -->
    <div class="wp-block-query">
        <!-- wp:template-part {"className":"wp-template-part-post-list","slug":"post-list"} /-->
    </div>
    <!-- /wp:query -->
    <!-- wp:pattern {"slug":"saleziani/call-to-action"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- wp:pattern {"slug":"saleziani/page-copyright"} /-->
