<!-- wp:pattern {"slug":"saleziani/page-background"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"className":"container-fluid","tagName":"main"} -->
<main class="container-fluid wp-block-group">
    <!-- wp:pattern {"slug":"saleziani/page-background"} /-->
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
        <!-- wp:post-title {"level":1} /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- wp:pattern {"slug":"saleziani/copyright"} /-->
