<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"className":"container-fluid","tagName":"main"} -->
<main class="container-fluid wp-block-group">
    <!-- wp:group {"className":"wp-template-page"} -->
    <div class="wp-block-group wp-template-page">
        <!-- wp:saleziani/top-level-page-title /-->
        <!-- wp:saleziani/top-level-page-perex /-->
        <!-- wp:saleziani/navigation /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:post-content {"className":"wp-template-page"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"newsletter", "className":"footer-newsletter"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- wp:pattern {"slug":"saleziani/copyright"} /-->
