<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"className":"container-fluid single", "tagName":"main"} -->
<main class="container-fluid wp-block-group single">
    <!-- wp:group {"className":"single", "layout":{"type":"constrained"}} -->
    <div class="wp-block-group single">
        <!-- wp:post-title {"level":1} /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"saleziani/call-to-action"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

