.main-menu-wrapper {
  border-bottom: 1px solid #2727271F;
  margin-bottom: 112px;
  .main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .hamburger-menu {
      border: 0;
      background-color: transparent;
      margin-right: 16px;
      padding: 0;
      width: 24px;
    }

    .logo {
      margin-right: 20px;

      img {
        width: 100%;
        max-width: 43px;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 0;

      li {
        a {
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
          margin: 0 16px;
          color: #272727;
          text-decoration: none;
          &:after{
            content: unset;
          }
        }
      }

    }
  }
}