@import 'bootstrap-override';
@import 'typography';

@mixin layout() {
  font-family: 'Fira Sans', sans-serif;

  *, :after, :before {
    box-sizing: border-box;
  }
  .wp-block-post-content {
    > * {
      //margin-top: 8rem;
      margin-bottom: 8rem;

      //&:first-child {
      //  margin-top: 0;
      //}

      @media(max-width: 50rem) {
        margin-bottom: 4rem;
      }

    }
  }
}

@mixin link-with-icon() {
  color: #cf3942;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  position: relative;
  width: fit-content;
  &:after {
    background-image: url('../images/arrow-right-red.svg');
    content: '';
    display: inline-block;
    height: 1.25rem;
    margin-left: 0.5rem;
    width: 1.25rem;
  }
  &:before {
    content: '';
    left: 0;
    right: 0;
    height: 0.125rem;
    background-color: #cf3942;
    position: absolute;
    bottom: 0;
  }
  &[target='_blank'] {
    &:after {
      background-image: url('../images/external-link-red.svg');
    }
  }
}

@mixin dark-dot {
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  background-color: #272727;
}
