@import '../mixin';

.wp-pattern-saleziani-description-link {
    p {
        color: rgba(39, 39, 39, 0.80);
        font-size: 1.3125rem;
        line-height: 1.8125rem;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        a {
            @include link-with-icon;
        }
    }
}
