.wp-pattern-saleziani-numbers {
    text-align: center;

    h2 {
        color: #272727;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.8125rem;
    }

    h3 {
        border-top-style: solid;
        border-top-width: 0.1875rem;
        font-family: 'Fira Sans', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.625rem;
        margin: 0 auto;
        max-width: 10.625rem;
        padding-top: 1rem;
    }

    p {
        font-size: 0.9375rem;
        font-weight: 700;
        line-height: 1.3125rem;
        margin: 0;
    }
}
