@import '../mixin';

.wp-pattern-saleziani-three-links-to-pages {
    .wp-block-saleziani-link-to-page {
        background: #f9f6f4;
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1.5rem;

        .image {
            border-radius: 0.25rem;

            > img {
                border-radius: 0.25rem;
                height: auto;
                margin-bottom: 2rem;
                width: 100%;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            .text {
                a {
                    text-decoration: unset;

                    > h3 {
                        color: #272727;
                        font-size: 1.3125rem;
                        font-weight: 700;
                        line-height: 1.8125rem;
                        margin: 0 0 1rem;
                    }
                }

                p {
                    color: #272727;
                    font-size: 0.9375rem;
                    font-weight: 400;
                    line-height: 1.3125rem;
                    margin-bottom: 1.75rem;
                }
            }
        }

        .link {
            @include link-with-arrow;
        }
    }
}
