@import '../mixin';

.wp-pattern-saleziani-three-icon-heading-description {
    .box {
        border-left: 0.125rem solid rgba(39, 39, 39, 0.06);
        padding: 1.5rem;

        .wp-block-image {
            height: 2.5rem;
            margin-bottom: 0.75rem;
            width: 2.5rem;

            img {
                width: 100%;
            }
        }

        .wp-block-heading {
            font-size: 1.3125rem;
            font-weight: 700;
            line-height: 1.8125rem;
            margin: 0 0 0.5rem;
        }

        .description {
            color: rgba(39, 39, 39, 0.80);
            font-size: 1.0625rem;
            line-height: 1.5rem;
            margin: 0;
            a{
                @include link-with-icon;
            }
        }
    }
}
