p {
    @include body-m;
    margin-top: 0;
    color: $dark;

    a {
        text-decoration: none;
        color: $red;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: darken($red, 10%);
        }
    }
}
