ul {
    padding-left: 1.5rem;
    color: $dark;

    li {
        @include body-m;

        a {
            text-decoration: none;
            color: $red;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: darken($red, 10%);
            }
        }

        strong {
            font-weight: 700;
        }

        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }
}
