ul {
  padding-left: 1.5rem;
  color: $dark;

  li {
    @include body-m;

    a {
      text-decoration: none;
      color: $red;
    }

    strong {
      font-weight: 700;
    }

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }
}
