.wp-block-saleziani-breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .breadcrumb-item {
        display: inline-block;
    }

    .breadcrumb-divider {
        margin: 0 0.5rem;
    }

    .category-breadcrumbs {
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }
}
