.wp-block-saleziani-breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;

    .breadcrumb-item {
        display: inline-block;
        text-decoration: none;
        color: $dark;

        &:hover {
            color: $red;
        }
    }

    .breadcrumb-divider {
        margin: 0 0.5rem;
    }

    .category-breadcrumbs {
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }
}
