.wp-block-embed {
  .wp-block-embed__wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    border-radius: 0.5rem;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
  }
}