@import '../bootstrap-override';

figure {
    margin-bottom: 0;
}

.wp-block-post-content {
  > .wp-block-image {
    min-height: 25rem;

    img {
      width: 100%;
      min-height: 25rem;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  }
}
