@import '../mixin';

.wp-block-saleziani-navigation {
    display: flex;
    flex-wrap: wrap;

    svg {
        width: 32px;
        height: 32px;
    }

    .navigation-item {
        display: flex;
        align-self: stretch;
        align-content: center;
        align-items: center;
        @include body-m;
        font-weight: 500;
        margin-right: 1.5rem;
        padding-bottom: 4px;
        text-decoration: none;
        color: $dark;
        position: relative;

        &:first-child {
            //top: -5px;
            //padding-bottom: 5px;
        }

        &.current {
            color: $red;
            fill: $red;

            &:after {
                display: block;
                position: absolute;
                height: 3px;
                content: '';
                background-color: $red;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
}
