@import '../mixin';

.wp-block-saleziani-navigation {
  .row {
    .col {
      margin-bottom: -0.0625rem;
    }
  }

  .navigation-item {
    @include body-m;
    font-weight: 500;
    margin-right: 1.5rem;
    text-decoration: none;
    color: $dark;

    &.current {
      color: $red;
    }
  }
}
