.wp-block-saleziani-top-level-page-perex {
  margin-bottom: 3rem;

  @include body-l;
  color: $dark;

  &:empty {
    display: none;
  }

  @media(max-width: 47.9375rem) {
    @include body-m;
  }
}
