.wp-block-saleziani-top-level-page-perex {
    &:empty {
        display: none;
    }

    @include body-l;
    margin-bottom: 3rem;
    color: $dark;

    @media(max-width: 48rem) {
        @include body-m;
    }
}
