.wp-block-pullquote {
  margin: inherit;
  padding: 0;

  blockquote {
    margin: 0;
    padding: 1rem 0 1rem 2rem;
    text-align: left;
    border-left: 0.0625rem solid rgba(39, 39, 39, 0.2);

    p {
      font-family: "Playfair Display", sans-serif;
      font-size: 2rem;
      font-weight: 400;
      font-style: normal;
      line-height: 2.75rem;
      margin-bottom: 1rem;
      color: #cf3942;
    }

    cite {
      color: #272727;
      @include body-xl;
    }
  }
}
