.wp-pattern-saleziani-call-to-action {
    margin-right: -$grid-gutter-width/2;
    margin-left: -$grid-gutter-width/2;
    padding: 3rem 0;
    @media(max-width: 50rem) {
        padding: 3rem 1rem;
    }

    .wp-block-group {
        max-width: 48rem;
        margin: 0 auto;
        padding: 3rem 4rem;
        color: #272727;
        border-radius: 1rem;
        @media(max-width: 50rem) {
            padding: 2rem;
        }

        p {
            line-height: 1.5rem;
            margin: 1.5rem 0;
            text-align: center;
        }

        .wp-block-button {
            width: 100%;

            .wp-element-button {
                font-weight: 500;
                line-height: 1.5rem;
                display: block;
                max-width: max-content;
                margin: 0 auto;
                padding: 0.75rem 2rem;
                background-color: #5795d6;
            }
        }

        .wp-block-heading {
            font-size: 2rem;
            line-height: 2.8125rem;
            margin: 0;
            text-align: center;
            color: #272727;
        }
    }
}
