@import '../mixin';

.wp-pattern-saleziani-colored-cards {
    .colored-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: .5rem;

        .wp-block-image {
            display: flex;
            overflow: hidden;
            width: 100%;
            margin-bottom: 0;
            border-radius: .5rem .5rem 0 0;

            > div {
                width: 100% !important;
            }

            img {
                width: 100%;
                height: auto;
                transition: transform 0.3s ease;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            justify-content: space-between;
            padding: 2rem 6rem 3rem;
            color: #ffffff;
            border-radius: 0 0 .5rem .5rem;
            @media(max-width: 62rem) {
                padding: 2rem 3rem 2rem;
            }

            .content-top {
                margin-bottom: 1rem;

                > * {
                    color: #ffffff !important;
                }

                .wp-block-heading {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 2.5rem;
                    margin: 0 0 2rem;
                }

                p {
                    font-size: 1.0625rem;
                    line-height: 1.5rem;
                    margin-bottom: 2rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .content-bottom {
                a {
                    @include link-with-icon;
                    color: #ffffff;

                    &:before {
                        background-color: #ffffff;
                    }

                    &:after {
                        background-image: url('../../images/arrow-right-white.svg');
                    }
                }
            }
        }

        &:hover {
            .wp-block-image {
                img {
                    transform: scale(1.03);
                }
            }
        }

        &.has-f-9-ca-3-e-background-color {
            .content {
                .content-top {
                    > * {
                        color: #272727 !important;
                    }
                }

                .content-bottom a {
                    color: #272727;

                    &:before {
                        background-color: #272727;
                    }

                    &:after {
                        background-image: url('../../images/arrow-right-black.svg');
                    }
                }
            }
        }
    }
}
