@import '../mixin';

.wp-pattern-saleziani-three-link-to-page {
  .wp-block-saleziani-link-to-page {
    overflow: hidden;
    height: 100%;
    border-radius: 0.5rem;

    .basic-card {
      display: flex;
      flex-direction: column;
      height: 100%;
      background: #fdf9f8;

      .image {
        display: flex;
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;

        > img {
          width: 100%;
          height: auto;
          margin: 0;
          transition: transform 0.3s ease;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        padding: 1.5rem 2rem 2rem;

        .text {
          a, h3 {
            display: block;
            margin: 0 0 1.5rem;
            text-decoration: unset;

            > h3, a {
              @include display-reg-m;
              margin: 0;
              text-decoration: unset;
              color: #272727;
            }
          }

          p {
            @include body-s;
            margin-bottom: 1.5rem;
            color: rgba(39, 39, 39, 0.80);
          }
        }

        * {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .link, p a {
        @include link-with-icon;
      }

      &:hover {
        .wp-block-image {
          img {
            transform: scale(1.03);
          }
        }

        .image {
          > img {
            transform: scale(1.03);
          }
        }
      }
    }
  }
}
