@import '../mixin';

.wp-pattern-saleziani-three-icon-heading-description {
  .box {
    padding-right: 2rem;

    .wp-block-image {
      width: 2.5rem;
      height: 2.5rem;
      margin-bottom: 1rem;

      img {
        width: 100%;
      }
    }

    .wp-block-heading {
      font-size: 1.3125rem;
      font-weight: 700;
      line-height: 1.8125rem;
      margin: 0 0 1rem;
      color: #272727;
    }

    p {
      font-size: 1.0625rem;
      line-height: 1.5rem;
      margin: 0 0 1rem 0;
      color: rgba(39, 39, 39, 0.80);

      a {
        @include link-with-icon;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
