@import '../mixin';

.wp-pattern-saleziani-transparent-cards {
    .transparent-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 3rem 6rem;
        border: 1px solid rgba(39, 39, 39, 0.20);
        border-radius: 1rem;
        @media(max-width: 62rem) {
            padding: 2rem 3rem;
        }

        .wp-block-image {
            margin-bottom: 3rem;

            img {
                width: 16rem;
                height: 16rem;
                transition: transform 0.3s ease;
                border-radius: 50%;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .content-top {
                margin-bottom: 1rem;

                .wp-block-heading {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 2.8125rem;
                    margin: 0 0 1rem;
                    color: #272727;
                }

                p {
                    font-size: 1.0625rem;
                    line-height: 1.5rem;
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .content-bottom {
                a {
                    @include link-with-icon;
                }
            }
        }

        &:hover {
            .wp-block-image {
                img {
                    transform: scale(1.03);
                }
            }
        }
    }
}
